body {
  background-color:#eafaf7;
}
div {
    display: block;
}
.main-font-style{
  font-family: "Times New Roman", Times, serif;
}
.logo-text-color{
    font-weight:Bold;
  background: linear-gradient(0deg, #3c994a, #210b7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-menu {
    min-height: 0px;
}

.top-menu {
    width: 100%;
    background: #fff;
    min-height: auto;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:100%
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.logo-wrap {
    float: left;
    height: 80px;
}
.modal-box {
    width: 70%;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.one {
    color: Black;
    font-size: 12px;
    font-weight:Bold
}
.one {
    font-size: 14px !important;
    }

ul.about{
    padding: 0;
    float: left;
    list-style-type: none;

}

ul.social-network {
    padding: 0;
    float: right;

}
ul.social-network li {
    /* display: inline; */
    /* margin: 15px 0px 0px 0px; */
    float: left;
    text-align: center;
    list-style-type: none;
}
.social-icon {
    float: left !important;
    margin-left: -150px;
}
.list-inline>li {
    padding-right: 15px;
}
.social-circle li span {
    display: inline-block;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    font-size: 18px;
    background-color: #210b7a;
}
.social-circle li div {
     cursor: pointer;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
.social-circle li i {
    margin: 0;
    line-height: 35px;
    text-align: center;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.logo-menu-right {
    float: right;
}


#about_content{
text-align: justify;
 }

 .center-align{
 text-align:center;
 color: #210b7a;
 }

.right-align{
text-align:right;
color: #210b7a;
}

.left-align{
align-content: left;
color: #210b7a;
}
.left-align-text{
align-content: left;
}

.center-align-text{
align-content: center;
}

.right-align-text{
align-content: right;
}

.blue-border{
 border: 2px solid #210b7a;
 border-radius: 30px;
    margin: 20px auto;
    padding: 10px 25px;
    margin-left: 10px;
    max-width: 730px;
    display: inline-block;
    width: 100%;
}

.datetimepicker {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    width: 100%
}

input {
		font: inherit;
		color: inherit;
		appearance: none;
		outline: none;
		border: 0;
		background-color: transparent;

		&[type=date] {
			width: 10rem;
			padding: .25rem 0 .25rem .5rem;
			border-right-width: 0;
		}

		&[type=time] {
			width: 5.5rem;
			padding: .25rem .5rem .25rem 0;
			border-left-width: 0;
		}
	}

.img-background-color{
border-radius: 3px;
}
.service-box{
border-radius: 25px;
height: 55px;
box-decoration-break: clone;
}

.service-name{
color:Black;
font-weight:Bold;

}
.spacing{
word-spacing: 5px;
}
.rating {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 30px;
  font-size: 30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #f2b01e;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
.blink_me {
  animation: blinker 1s linear infinite;
  color: #2d38be;
            font-size: 15px;
            font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-group{
    width: 45%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.container book_appointment
{width: 100%}


.main_header{
    height: auto;
    background: #eafaf7;
}
.main_footer{
background: #9ED8E6;
}
.main-content-column {
    height: auto;
    background: #E7F9F6;
}
.main_footer .footer_wrapper {
    margin: 0 auto;
    max-width: 1400px;
    color: Black;
    font-weight: Bold;
}

.ml-4 ml-xl-5
{
margin-left: 3rem
}
.ml-4, .mx-4 {
    margin-left: 1.5rem
}
.divide
{
margin-top: 1em;
border-bottom: 0.75px solid;
border-image: linear-gradient(to right, #3c994a, #210b7a);
border-image-slice: 1;
width: 98%;
 }
 .top_section_divide{
 border-bottom: 0.75px solid;
border-image: linear-gradient(to right, #3c994a, #210b7a);
border-image-slice: 1;
width: 98%;
 }

.float-right{
display: flex;
justify-content: flex-end
}
.float-right-img{
float:right;
}
.logo-fluid  {
    height: 120;
    max-width: 100%;
    width: 200;
}
.service_lifecycle{
width: 320px;
  padding: 10px;
  border: 5px;
  margin: 0;
  display:inline-block;
  vertical-align: middle;
}
.service_lifecycle_img{
display:inline-block;
align: left;
vertical-align: middle;
}

.image_radius{
border-radius: 70%;
width:500px; height:300px;
}

.bottom_icon_property{
            text-align: center;
            margin: 17px;
            line-height: 80px;
            color: Black;
}
.instagram:hover {
            color: #e11d74;
        }
.facebook:hover {
    color: #4267B2;
}
.mail:hover {
    color: #ea4335;
}
.phone:hover {
    color: #00b488;
}

.whatsapp:hover {
    color: #43d854;
}
.quick_link_property:hover{
color: #4267B2;
cursor: pointer;

}
.quick_link_property h5:hover{
font-weight:Bold;}
.primary-content{
flex: 1 0 0%;}

.about-content {
  overflow-wrap: break-word;
  flex: 1 0 0%;
  margin:auto 0;
}
.logo-content{
flex: 0.5 0 0%;}

.service-lifecycle-border, .main_footer {
  padding-top: 20px;
  border: 0px;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #3c994a, #210b7a);
  border-image-slice: 1;
  color: white;
  margin: auto;
  text-decoration: none;
  width: 40%;
}

.short_border_bottom{
    padding-top: 20px;
  border: 0px;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #3c994a, #210b7a);
  border-image-slice: 1;
  margin: auto;
  text-decoration: none;
  width: 40%;
}
.top_section_height{
height:auto;
}

.top_button_color{
}

.our_features
{
border: 6px solid;
border-image: linear-gradient(to right, #3c994a, #210b7a);
border-image-slice: 1;
width: 100%;
border-radius: 10%;
}
.carousel {
    width: fit-content;
    }

.feature-content{
flex: 1 0 0%;
}
.banner_size{
width: 1100;
height: 400;
}

