{% block content %}
{% load static %}
<div class="container main-content-column">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" id="about_content"><br>

            <br>
            <h3 class="modal-title main-font-style left-align-text logo-text-color">SERVICES THROUGH DIGITAL HEALTHCARE PLATFORM</h3>
            <p>Home care diagnostic service, one of the largest service providers in Chennai city ,has been recognized by the government and various hospitals for successful ventures and diagnostic service for over a decade.
                It's one of CHENNAI'S leading providers of diagnostic information services,
                Our achievements over the 10+ years are the ethics and the original vision of providing the best in diagnostics service at an affordable price.
                We created a specially designed box and universal kit to ensure accurate results with Pre-bar coded tubes,Hygienic sample draw accessories,Insulated box for safe transportation of samples,Temperature controlled to ensure sample quality.
            </p>


        </div>
        <div align="right">
            <button type="button" class="btn btn-primary static_button hidden" id="top_button"><i class="fas fa-arrow-circle-up"></i> Go to Top</button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% include "Homecare_service/service_life_cycle.html" %}
        </div>
        <div class=" short_border_bottom"></div>
        <div class="col-md-12 col-sm-12 col-xs-12 service-lifecycle-border">
            {% include "Homecare_service/services.html" %}
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 main_footer">
            {% include "Homecare_service/bottom_section.html" %}

        </div>
    </div>
</div>
{% endblock %}