{% block content %}
{% load static %}
<br>
<div class="container book_appointment">
    <h2 class="center-align">Book Your Appointment For Home Collection</h2>
    <form id="quick_appointment_widget" class="quick_appointment_widget quick_appointment_widget_form">
        <div class="appointment_response"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fname" id="" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fage" id="" class="form-control" placeholder="Age">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <select class="form-select mb-3" name="fgender">
                        <option value="" disabled selected>Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fcontact" id="" class="form-control" placeholder="Phone">
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fmail" id="" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="Address" name="faddress"></textarea>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fcity" id="" class="form-control" placeholder="City">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                     <input type="text" name="fpincode" id="" class="form-control" placeholder="Pincode">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="datetimepicker">
                        <input type="date" id="date" class="form-control">
                        <span></span>
                        <input type="time" id="time" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 center-align">
                <button class="btn btn-success">Submit</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}