{% block content %}
{% load static %}
<br>
<div class="modal fade" id="appointment_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title main-font-style center-align logo-text-color" id="myModalLabel">Book Your Appointment For Home Collection </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container book_appointment">

                    <form id="quick_appointment_widget" class="quick_appointment_widget">
                        <div class="form-group row">
                            <div class="col-xs">
                                <input type="text" name="fname" id="" class="form-control modal_form" placeholder="Name">
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="text" name="fage" id="" class="form-control modal_form" placeholder="Age">
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control" name="fgender">
                                        <option value="" disabled selected>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="text" name="fcontact" id="" class="form-control" placeholder="Phone">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" name="fmail" id="" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-12">
                                <textarea class="form-control" rows="2" placeholder="Address" name="faddress"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="text" name="fcity" id="" class="form-control" placeholder="City">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" name="fpincode" id="" class="form-control" placeholder="Pincode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <div class = 'input-group date' id='datepicker'>
                                    <input type = 'text' class="form-control" placeholder="Date"/>
                                        <span class = "input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class = 'input-group date' id='timepicker'>
                                    <input type = 'text' class="form-control" placeholder="Time"/>
                                    <span class = "input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="center-align">
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Booking</button>
                    <button type="button" class="btn btn-primary">Book</button></div>
                </div>
            </div>

        </div>
    </div>
    <br>
</div>
{% endblock %}