{% block content %}
{% load static %}

<div class="container main-content-column">

  <div class="col-md-8 col-sm-8 col-xs-8">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src='{% static "images/banner/home_collection.jpg" %}' alt="home_collection"
                               class="img-fluid mb-2 banner_size" style="height:60%; width:1000%"/>
      </div>

      <div class="item">
        <img src='{% static "images/banner/banner_tube.jpg" %}' alt="banner_tube"
                               class="img-fluid mb-2 banner_size" style="height:60%; width:100%"/>
      </div>

      <div class="item">
        <img src='{% static "images/banner/take_sample.jpg" %}' alt="banner_lab_sample"
                               class="img-fluid mb-2 banner_size" style="height:60%; width:100%"/>
      </div>
        <div class="item">
        <img src='{% static "images/banner/banner_lab_sample.jpeg" %}' alt="banner_lab_sample"
                               class="img-fluid mb-2 banner_size" style="height:60%; width:100%"/>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
  <div class="d-flex flex-column">
    <div class="primary-content p-2 bd-highlight">
      <ul class="about list-inline left-align">
          <li>
              <span data-toggle="modal" data-target="#c2Call" title="phone">
                  <i class="feather-award"></i>
              </span>Accredited
          </li>
          <li>
              <span data-toggle="modal" data-target="#c2Call" title="phone">
              <img src='{% static "images/affordable.png" %}' alt="Home" class="img-fluid mb-2" width="40" height="13">
              </span>Affordable
          </li>
          <li>
              <span data-toggle="modal" data-target="#c2Call" title="phone">
                  <i class="feather-home"></i>
              </span>Home Collection
          </li>
           <li>
              <span data-toggle="modal" data-target="#c2Call" title="phone">
                  <i class="feather-clock"></i>
              </span>24*7 Online Report
          </li>

      </ul>
    </div>
    <div class="primary-content p-2 bd-highlight">
    <img src='{% static "images/iso.png" %}' alt="diagnostic" class="img-fluid mb-2 banner_size" style="height:40%; width:45%"/>
  <img src='{% static "images/nabl.png" %}' alt="diagnostic" class="img-fluid mb-2 banner_size" style="height:50%; width:50%"/>
  </div></div>

</div>
</div>

{% endblock %}