{% block content %}
{% load static %}

<div class="container main-content-column">
    <div class="container">
       <div class="content-body d-flex flex-row">
            <div class="banner-content">
                <div id="our_services" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#our_services" data-slide-to="0" class="active"></li>
                    <li data-target="#our_services" data-slide-to="1"></li>
                    <li data-target="#our_services" data-slide-to="2"></li>
                    <li data-target="#our_services" data-slide-to="3"></li>
                    <li data-target="#our_services" data-slide-to="4"></li>
                    <li data-target="#our_services" data-slide-to="5"></li>
                    <li data-target="#our_services" data-slide-to="5"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner banner_size" role="listbox">
                    <div class="item active">
                      <img src='{% static "images/banner/home_sample_collection.png" %}' class="banner_size">

                    </div>
                       <div class="item">
                       <img src='{% static "images/banner/book_time.jpg" %}' class="banner_size">

                    </div>
                      <div class="item">
                      <img src='{% static "images/banner/take_sample.jpg" %}'  class="banner_size">

                    </div>
                    <div class="item">
                      <img src='{% static "images/banner/lab.jpeg" %}' class="banner_size">

                    </div>

                    <div class="item">
                      <img src='{% static "images/banner/lab_diagnostics.jpg" %}' class="banner_size">

                    </div>
                    <div class="item">
                       <img src='{% static "images/banner/lab_report.jpg" %}' class="banner_size">

                    </div>
                      <div class="item">
                       <img src='{% static "images/banner/banner_report_delivery.jpg" %}' class="banner_size">

                    </div>

                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#our_services" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#our_services" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>

                </div>
            </div>
<!--           <div class="feature-content p-2 bd-highlight flex-shrink-1">-->
<!--               -->
<!--           </div>-->
          </div>

    </div>
</div>

{% endblock %}