{% block content %}
{% load static %}
<div class="container">
    <div class="footer_wrapper content-body-wrapper footer_line">
        <div class="content-body d-flex flex-row">
            <div class="primary-content p-2 bd-highlight">
                 <div class="row">
                    <div class="col-xs-4 quick_link_property"><h4>Quick Links</h4></div><div class="col-xs-6"><h4>Reach Us:</h4></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 quick_link_property">
                        <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#appointment_modal" aria-hidden="true"><h5>Book Your Appointment</h5></a>
                    </div><div class="col-xs-8"><h5><i class="far fa-envelope fa-1x"></i> homecarediagnosticservice@gmail.com </h5></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 quick_link_property">
                        <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#package_modal" aria-hidden="true"><h5>Packages</h5></a></div>
                    <div class="col-xs-6"><h5><i class="fas fa-phone-alt fa-1x"></i>  95566144262 / 9176730003</h5></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 quick_link_property">
                        <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#offer_modal" aria-hidden="true"><h5>Offers</h5></a></div>
                </div>
            </div>
            <div class="logo-content p-2 bd-highlight">
                <a href="{% url 'index' %}" class="float-right">
                    <img src='{% static "images/Homecare_name_logo.png" %}' alt="Home" class="img-fluid mb-3" width="200" height="150">
                </a>

            </div>


        </div>
        <div class="divide"></div>
        <div class="py-2 mx-md-3 mx-xl-5 px-md-3"> </div>
            <div class="d-flex flex-column flex-md-row justify-content-between full_footer">
                <p class="fs-10 fw-400 text-black text-left text-md-left">
                    <a href='tel:+919566144262' class="bottom_icon_property phone" target="_newtab"><i class="fas fa-phone-square-alt fa-3x" ></i></a>
                    <a href='https://chatwith.io/s/shiv-homecare-diagnostics-service' class="bottom_icon_property whatsapp" target="_newtab"><i class="fab fa-whatsapp fa-3x"></i></a>
                    <a href='mailto:homecarediagnosticsservice@gmail.com' class="bottom_icon_property mail" target="_newtab"><i class="far fa-envelope fa-3x"></i></a>
                    <a href='https://www.facebook.com/groups/269272624588719/?ref=share' class="bottom_icon_property facebook" target="_newtab"><i class="fab fa-facebook-square fa-3x"></i></a>&nbsp;&nbsp;&nbsp;
                    <a href='https://instagram.com/homecarediagnosticsservice?utm_medium=copy_link' class="bottom_icon_property instagram" target="_newtab"><i class="fab fa-instagram fa-3x"></i></a>
                </p>
                <p class="fs-10 fw-400 text-black text-center text-md-right">Copyrights Reserved © Shiv Homecare Diagnostics Service Pvt.Ltd </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
