{% block content %}
{% load static %}
<br>

<div class="modal fade" id="packages_details">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

<!--<div class="container call_request">-->
<!--    <h2 class="center-align">Request Us to Call You</h2>-->
<!--    <form id="quick_appointment_widget" class="quick_appointment_widget quick_appointment_widget_form">-->
<!--        <div class="call_request"></div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 col-sm-12 col-xs-12">-->
<!--                <div class="form-group">-->
<!--                    <input type="text" name="fname" id="" class="form-control" placeholder="Name">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-sm-6 col-xs-6">-->
<!--                <div class="form-group">-->
<!--                    <div class = 'input-group date' id='datepicker'>-->
<!--                        <input type = 'text' class="form-control" placeholder="Date"/>-->

<!--                        <span class = "input-group-addon">-->
<!--                            <span class="glyphicon glyphicon-calendar"></span>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-sm-6 col-xs-6">-->
<!--                <div class="form-group">-->
<!--                    <div class = 'input-group date' id='timepicker'>-->
<!--                        <input type = 'text' class="form-control" placeholder="Time"/>-->
<!--                        <span class = "input-group-addon">-->
<!--                            <span class="glyphicon glyphicon-time"></span>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-12 col-sm-12 col-xs-12 center-align">-->
<!--                <button class="btn btn-success">Submit</button>-->
<!--			    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}