{% block content %}
{% load static %}
<br>
<div class="container book_appointment">
    <h2 class="center-align">Submit Your FeedBack</h2>
    <form id="quick_appointment_widget" class="quick_appointment_widget quick_appointment_widget_form">
        <div class="appointment_response"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fname" id="" class="form-control" placeholder="Name">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="fmail" id="" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <select class="form-control" name="fgender">
                        <option value="" disabled selected>Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Others</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="Comments" name="fcomments"></textarea>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <span>Rate Our Service: </span>
                <div class="form-group rating">

                    <label>
                        <input type="radio" name="stars" value="1" />
                        <span class="icon">★</span>
                    </label>
                  <label>
                    <input type="radio" name="stars" value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                  </label>
                  <label>
                    <input type="radio" name="stars" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                  </label>
                  <label>
                    <input type="radio" name="stars" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                  </label>
                  <label>
                    <input type="radio" name="stars" value="5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                  </label>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 center-align">
                <br>
                <button class="btn btn-success">Submit</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}