
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/homecare.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/feather-icons-web/feather.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'images/Homecare_logo.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cdn/bootstrap-datetimepicker.min.css' %}">


<script src ="{% static 'js/cdn/jquery.min.js' %}"></script>
<script src ="{% static 'js/cdn/moment.min.js' %}"></script>
<script src ="{% static 'js/cdn/popper.min.js' %}"></script>
<script src ="{% static 'js/cdn/bootstrap.min.js' %}"></script>
<script src ="{% static 'js/cdn/bootstrap-datetimepicker.min.js' %}"></script>
<script src ="{% static 'js/cdn/bootstrap-datepicker.js' %}"></script>


<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/homecare.js' %}"></script>



{% include "Homecare_service/top_section.html" %}
{% include "Homecare_service/banner.html" %}
{% include "Homecare_service/about.html" %}
{% include "Homecare_service/sample.html" %}