{% block content %}
{% load static %}
<div class="container">
    <h2 class="left-align-text logo-text-color">Offers For you</h2>
    <ul style="list-style-type:none;" class="special_bullet">
        <li class="blink_me"><img src='{% static "images/bullet_icon.jpeg" %}' alt="bullet_icon"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>Offer 1</li>
         <li><img src='{% static "images/bullet_icon.jpeg" %}' alt="bullet_icon"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>Offer 2</li>
         <li><img src='{% static "images/bullet_icon.jpeg" %}' alt="bullet_icon"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>Offer 3</li>
         <li><img src='{% static "images/bullet_icon.jpeg" %}' alt="bullet_icon"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>Offer 4</li>
         <li><img src='{% static "images/bullet_icon.jpeg" %}' alt="bullet_icon"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>Offer 5</li>

    </ul>
</div>
{% endblock %}