{% block content %}
{% load static %}
<div class="container services" id='service'>
    <div class="row">
        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
            <img src='{% static "images/service_lifecycle/appointment.jpg" %}' alt="appointment"
                               class="img-fluid mb-2 image_radius"/>
        </div>
    </div><br>
    <div class="row">

         <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
Book Your Appointment and Schedule your time slots for collecting Test Sample
             We are here for you! Ensure good health and know the defense against health issues. We own a wide range of leading pathology labs. Book a Pathology Lab Test near you with ease to get the test reports online. We have more than 100+ laboratories with top-notch quality equipment and provide multiple lab services to all age groups.
                  </div>
        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6">
            <img src='{% static "images/service_lifecycle/home_collection.jpeg" %}' alt="home_collection"
                               class="img-fluid mb-2 image_radius"/>
        </div>
    </div>
    <div class="row">

        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
            <img src='{% static "images/service_lifecycle/Home_test.jpg" %}' alt="Home_test"
                               class="img-fluid mb-2 image_radius"/>
        </div>
        <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
Book Your Appointment and Schedule your time slots for collecting Test Sample
             We are here for you! Ensure good health and know the defense against health issues. We own a wide range of leading pathology labs. Book a Pathology Lab Test near you with ease to get the test reports online. We have more than 100+ laboratories with top-notch quality equipment and provide multiple lab services to all age groups.
                  </div>
    </div>
    <div class="rows">

         <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
Book Your Appointment and Schedule your time slots for collecting Test Sample
             We are here for you! Ensure good health and know the defense against health issues. We own a wide range of leading pathology labs. Book a Pathology Lab Test near you with ease to get the test reports online. We have more than 100+ laboratories with top-notch quality equipment and provide multiple lab services to all age groups.
                  </div>
        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
            <img src='{% static "images/service_lifecycle/diagnostic.jpg" %}' alt="diagnostic"
                               class="img-fluid mb-2 image_radius"/>
        </div>
    </div>
    <div class="row">

        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
            <img src='{% static "images/service_lifecycle/report.jpg" %}' alt="report"
                               class="img-fluid mb-2 image_radius"/>
        </div>
        <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
Book Your Appointment and Schedule your time slots for collecting Test Sample
             We are here for you! Ensure good health and know the defense against health issues. We own a wide range of leading pathology labs. Book a Pathology Lab Test near you with ease to get the test reports online. We have more than 100+ laboratories with top-notch quality equipment and provide multiple lab services to all age groups.
                  </div>
    </div>
    <div class="rows">

         <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
Book Your Appointment and Schedule your time slots for collecting Test Sample
             We are here for you! Ensure good health and know the defense against health issues. We own a wide range of leading pathology labs. Book a Pathology Lab Test near you with ease to get the test reports online. We have more than 100+ laboratories with top-notch quality equipment and provide multiple lab services to all age groups.
                  </div>

    </div>
</div>
{% endblock %}