{% block content %}
{% load static %}
<div class="container services">
    <h2 class="center-align headers">Services At Your Door Step</h2>
    <div class="row">
        <div class="service-box col-md col-sm col-xs">
            &nbsp; &nbsp; <img src='{% static "images/blood_test.png" %}' alt="blood_test"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">All Blood Test</span>

        </div>
        &nbsp;<div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/urine_test.png" %}' alt="urine_test"
                               class="img-fluid mb-2 img-background-color" width="50" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">All Urine Analysis Test</span>
        </div>
    </div>
    <div class="row">
        <div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/motion_test.png" %}' alt="motion_test"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">All Motion Related Test</span>
        </div>
            &nbsp; <div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/covid_rt_pcr.png" %}' alt="covid_19_rt_pcr"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">COVID-19 RT PCR Test</span>
        </div>
    </div>
    <div class="row">
        <div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/covid_antibody_test.png" %}' alt="covid_antibody_test"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">COVID Antibody Test</span>
        </div>
        &nbsp;<div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/ecg.png" %}' alt="ecg"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">ECG At Home</span>
        </div>
    </div>
    <div class="row">
        <div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/x_ray.png" %}' alt="xray"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">X-Ray At Home</span>
        </div>
        &nbsp;<div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/Injection.png" %}' alt="Injection"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">Injection</span>
        </div>
    </div>
    <div class="row">
        <div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/bp.png" %}' alt="bp"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">BP Checkup</span>
        </div>
        &nbsp;<div class="service-box col-md col-sm col-xs">
        &nbsp; &nbsp; &nbsp;<img src='{% static "images/nebulizer.png" %}' alt="nebulizer"
                               class="img-fluid mb-2 img-background-color" width="40" height="40"/>&nbsp; &nbsp; &nbsp; <span class="service-name">Nebulizer</span>
        </div>
    </div>

</div>
{% endblock %}