{% block content %}
{% load static %}
<div class="container services service-lifecycle" id='service_life_cycle'>
     <div class="left-align-text">
                <h3 class="main-font-style left-align-text logo-text-color" id="myModalLabel">OUR SERVICE CYCLE</h3>

            </div>
    <section class="anime-start-1" data-as="true" data-as-animation="anime-end-1">
        <div class="row">
            <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
                <img src='{% static "images/service_lifecycle/appointment.jpg" %}' alt="appointment"
                                   class="img-fluid mb-2 image_radius"/>
            </div>
            <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
                <h3 class="modal-title main-font-style center-align logo-text-color">Book Appointment</h3>
                <p class="service_cycle_text">Book Your Appointment and Schedule Your Preferred Time for collecting Test Samples At Your Door Step. We are happy to assist you! Stay healthy and know how to avoid health complications. We have a wide range of leading NABL and ISO Certified labs. While in need of a health examination. Please book an appointment with us today.</p>
          </div>
        </div>
    </section>
    <section class="anime-start-1" data-as="true" data-as-animation="anime-end-1">
        <div class="row">
             <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
                 <h3 class="modal-title main-font-style center-align logo-text-color">Technician At Home</h3>
                <p class="service_cycle_text">Upon request, Our Technician will come to your door step for collecting test samples. Our Technicians are trained and fully vaccinated; therefore, they will take extra care and ensure a sanitized and safe sample collection.</p>
              </div>
            <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6">
            <img src='{% static "images/service_lifecycle/home_collection.jpeg" %}' alt="home_collection"
                               class="img-fluid mb-2 image_radius float-right-img"/>
            </div>
        </div>
    </section>
    <section class="anime-start-1" data-as="true" data-as-animation="anime-end-1">
        <div class="row">

            <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
                <img src='{% static "images/service_lifecycle/Home_test.jpg" %}' alt="Home_test"
                                   class="img-fluid mb-2 image_radius"/>
            </div>
            <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
                <h3 class="modal-title main-font-style center-align logo-text-color">Sample Collection At Home</h3>
                <p class="service_cycle_text">Please make sure to confirm your package details during your appointment so our Technician can collect the list of tests that you have requested. The package payment will be collected via cash/UPI/Visa/MasterCard/Debitcard.</p>
            </div>
        </div>
    </section>
    <section class="anime-start-1" data-as="true" data-as-animation="anime-end-1">
        <div class="rows">

         <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
             <h3 class="modal-title main-font-style center-align logo-text-color">Diagnostics by NABL-accredited & ISO-certified labs</h3>
             <p class="service_cycle_text"> During this technology-driven sample collection process, we have established a close working relationship with the leading diagnostic centers in Chennai. Our commitment is to deliver your sample to the labs we work with in a safe and hygienic manner. Our service also includes transporting your sample to the lab of your choice.
             </p>
                      </div>
        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
            <img src='{% static "images/service_lifecycle/diagnostic.jpg" %}' alt="diagnostic"
                               class="img-fluid mb-2 image_radius float-right-img"/>
        </div>
        </div>
    </section>
    <section class="anime-start-1" data-as="true" data-as-animation="anime-end-1">
        <div class="row">

        <div class="service_lifecycle_img col-md-6 col-sm-6 col-xs-6" >
            <img src='{% static "images/service_lifecycle/report.jpg" %}' alt="report"
                               class="img-fluid mb-2 image_radius"/>
        </div>
        <div class="service_lifecycle col-md-6 col-sm-6 col-xs-6">
            <h3 class="modal-title main-font-style center-align logo-text-color">Test Report By Certified Doctors</h3>
            <p class="service_cycle_text">Based on your test samples would be diagnostics in Top Diagnostics centers in Chennai under NABL accredited and ISO certified labs. And your sample would be diagnostics in Certified Doctor. We ensure that we will provide the quality, and enable accurate results signed by the Certified Doctors. Reports would be delivered by Soft or Hard Copy format  as per your request.</p>

          </div>
        </div>
    </section>

</div>


{% endblock %}