{% block content %}
{% load static %}
<div class="top-menu">
    <div class="container main_header">
        <div class="row top_section_height">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <a href="{% url 'index' %}">
                    <img src='{% static "images/Homecare_name_logo.png" %}' alt="Home" class="logo-fluid img-fluid mb-2">
                </a>
                <h5 class="modal-title main-font-style left-align-text logo-text-color">SHIV HOMECARE DIAGNOSTICS SERVICE Pvt Ltd.</h5>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 ">
                <div class="d-flex flex-column">
                    <div class="logo-menu-right p-2 bd-highlight" align="right">
                        <img src='{% static "images/iso.png" %}' alt="iso" style="height:46px; width:48px"/>
                        <img src='{% static "images/nabl.png" %}' alt="nabl" style="height:65px; width:54px"/>
                    </div>
                    <br>
                    <div class="logo-menu-right p-2 bd-highlight" align="right">
                        <button type="button" class="btn btn-primary" id="hcds_appointment" data-dismiss="modal" data-target="#appointment_modal" aria-hidden="true"><i class="far fa-calendar-alt"></i> Book Appointment</button>
                        <button type="button" class="btn btn-primary"><i class="fas fa-server"></i> Services</button>
                        <button type="button" class="btn btn-primary" id="hcds_package" data-dismiss="modal" data-target="#package_modal" aria-hidden="true"><i class="fas fa-book-medical"></i> Package</button>
                        <button type="button" class="btn btn-primary" id="hcds_offer" data-dismiss="modal" data-target="#offer_modal" aria-hidden="true"><i class="fas fa-percentage"></i> Offers</button>
                        <button type="button" class="btn btn-primary" id="hcds_feedback" data-dismiss="modal" data-target="#feedbackmodel" aria-hidden="true"><i class="fas fa-comments"></i> Feedback</button>
                        <button type="button" class="btn btn-primary" id="hcds_call_request" data-dismiss="modal" data-target="#call_back_request_model" aria-hidden="true"><i class="fas fa-phone-alt"></i> Request a call</button>
                    </div>
                </div>


            </div>

        </div>
        <div class="top_section_divide"></div>
        <div class="py-2 mx-md-3 mx-xl-5 px-md-3"> </div>
    </div>
</div>

{% endblock %}
