{% block content %}
{% load static %}
<div class="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-4">
                <a href="{% url 'index' %}">
                    <img src='{% static "images/Homecare_name_logo.png" %}' alt="Home" class="img-fluid mb-2" width="400" height="130">
                </a>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-8 left-align">
                <div style="width: 100%;" class="logo-menu-right">
                    <ul class="social-network social-circle circle-main-wrap list-inline" style="margin-top: 15px;">
                        <li>

                            <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#location">
                                <span data-toggle="modal" data-target="#c2Call" title="phone">
                                    <i class="feather-phone"></i>
                                </span>
                            </a>
                            <div class="one">Contact</div>
                        </li>

                        <li>

                            <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#location">
                                <span data-toggle="modal" data-target="#c2Call" title="Find Location">
                                    <i class="feather-map-pin"></i>
                                </span>
                            </a>
                            <div class="one">Location</div>
                        </li>
                        <li>

                            <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#appointment_modal">
                                <span data-toggle="modal" title="Book Appointment">
                                <i class="feather-calendar"></i>
                                </span>
                            </a>
                            <div class="one">Book Appointment</div>
                        </li>
                        <li>
                            <a href="#service" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#service">
                                <span data-toggle="modal" title="Services">
                                        <i class="feather-server"></i>
                                </span>
                            </a>
                            <div class="one">Services</div>
                        </li>
                        <li>
                        <a class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#basicModal">
                            <span data-toggle="modal" title="Packages">
                                    <i class="feather-package"></i>
                            </span>
                        </a>
                        <div class="one">Packages</div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
