{% block content %}
{% load static %}
<div class="top-menu">
    <div class="container main_header">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="{% url 'index' %}">
                    <img src='{% static "images/Homecare_name_logo.png" %}' alt="Home" class="logo-fluid img-fluid mb-2">
                </a>
                <div class="center-align">
                <ul class="about list-inline center-align">
                    <li>
                        <span data-toggle="modal" data-target="#c2Call" title="phone">
                            <i class="feather-award"></i>
                        </span>Accredited
                    </li>
                    <li>
                        <span data-toggle="modal" data-target="#c2Call" title="phone">
                        <img src='{% static "images/affordable.png" %}' alt="Home" class="img-fluid mb-2" width="40" height="13">
                        </span>Affordable
                    </li>
                    <li>
                        <span data-toggle="modal" data-target="#c2Call" title="phone">
                            <i class="feather-home"></i>
                        </span>Home Collection
                    </li>
                     <li>
                        <span data-toggle="modal" data-target="#c2Call" title="phone">
                            <i class="feather-clock"></i>
                        </span>24*7 Online Report
                    </li>

                </ul>
            </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6 left-align">
                <div style="width: 100%;" class="logo-menu-right">
                    <ul class="social-network social-circle circle-main-wrap list-inline" style="margin-top: 25px;">

                        <li>

                            <a href="#" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#appointment_modal">
                                <span data-toggle="modal" title="Book Appointment">
                                    <i class="feather-calendar"></i>
                                </span>
                            </a>
                            <div class="one">Book Appointment</div>
                        </li>
                        <li>
                            <a href="#service" class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#service">
                                <span data-toggle="modal" title="Services">
                                        <i class="feather-server"></i>
                                </span>
                            </a>
                            <div class="one">Services</div>
                        </li>
                        <li>
                        <a class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#basicModal">
                            <span data-toggle="modal" title="Packages">
                                    <i class="feather-package"></i>
                            </span>
                        </a>
                        <div class="one">Packages</div>
                        </li>
                        <li>
                        <a class="btn btn-sm btn-primary-outline" data-toggle="modal" data-target="#feedbackmodel">
                            <span data-toggle="modal" title="Feedback">
                                    <i class="feather-message-circle"></i>
                            </span>
                        </a>
                        <div class="one">Feedback</div>

                        </li>

                    </ul>
                </div>
            </div><div class="divide"></div>
    <div class="py-2 mx-md-3 mx-xl-5 px-md-3"> </div>
        </div>
    </div>
</div>

{% endblock %}
